
<div class="example-container">
  <app-menu></app-menu>
  <mat-form-field>
    <input matInput placeholder="Nume"
           [(ngModel)]="person.lastName"
           required
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prenume"
           [(ngModel)]="person.firstName"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CNP (va fi folosit ca si nume de utilizator"
           [(ngModel)]="person.cnp"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Parola"
           type="password"
           [(ngModel)]="person.password"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Gen"
           [(ngModel)]="person.gender"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Rol in societate" [(value)]="person.personType">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button color="primary" (click)="register()">Register</button>


</div>
