.login {
  position: fixed;
  width: 100%;
  margin: auto;
  margin-top: 12%;
  align-content: center;
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  height: auto; /* Full height */
}

.login-box {
  padding: 20px;
  height: 15%;
  width: 15%;
  margin:auto;
}

.center{
  color:black;
  padding-left:20%;
}
