<app-menu></app-menu>
<form [formGroup]="formGroup">
  <div class="mat-badge">
    <mat-form-field>
      <input matInput placeholder="Username" #username formControlName="userName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" #password type="password" formControlName="password">
    </mat-form-field>
    <br>
    <button [disabled]="formGroup.invalid" mat-button (click)="login(username.value,password.value)">Login</button>
  </div>

</form>

