<div class="example-container">
  <app-menu></app-menu>
  <h1>Vreau sa donez sange!</h1>
  <h2>Date de identitate</h2>
  <mat-form-field>
    <input matInput placeholder="Nume"
           [(ngModel)]="donationForm.lastName"
           required
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prenume"
           [(ngModel)]="donationForm.firstName"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Data nasterii (zz/ll/aaaa)"
           [(ngModel)]="donationForm.birthday"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Domiciliu (adresa din buletin"
           [(ngModel)]="donationForm.adress.address"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Localiate "
           [(ngModel)]="donationForm.adress.city"
           required
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Judet"
           [(ngModel)]="donationForm.adress.county"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Resesedinta"
           [(ngModel)]="donationForm.localAdress.adress"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Localiate"
           [(ngModel)]="donationForm.localAdress.city"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Judet"
           [(ngModel)]="donationForm.localAdress.county"
           required
    >
  </mat-form-field>
  <hr>
  <h3>Date de contact</h3>
  <mat-form-field>
    <input matInput placeholder="Email"
           [(ngModel)]="donationForm.email"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Telefon"
           [(ngModel)]="donationForm.phone"
           required
    >
  </mat-form-field>
</div>
<hr>
<button mat-raised-button color="primary" (click)="saveDonation()">Doneaza!</button>
