html, body{
  font-family: 'Libre Baskerville', serif; ;
  font-size: 15px;
  line-height: 1;
}
.headerClass {
  color: white;
  background-color: #303030;
  padding: 8px 16px;
  align-content: center;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
.parallax {
  /* The image used */
  background-image: url(https://www.um.edu.mt/__data/assets/image/0007/305296/varieties/banner.jpg);
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#processImg{
  min-height: 60px;
  width: 60%;
  -webkit-align-content: center;
  align-content: center;
  padding: 5px;
}

.glyphicon{
  font-size: 40px;
}

span{
  color: #fc321a;
  text-decoration-style: solid;
  font-size: 16px;
}
.secundar{
  padding: 10px;
  text-align: left;
  font-size: 20px;
}

.title{
  padding-left: 10px;
  font-size: 24px;
  display: inline-block;
  word-spacing: 1px;
}
.subtitles{
  padding-left: 5px;
  font-size: 18px;
  display: inline-block;
  color: #fc321a;
  text-decoration-style: solid;
}
.infos{
  color: white;
  text-decoration-style: wavy;
  font-size: 14px;
  padding-left: 5px;
  text-indent: 30px;
  line-height: 26px;
}
.bloodgroup{
  padding-left: 10px;
  color:#fc321a ;
}

.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }

.tabContent{
  height:auto;
  background-color:#303030;
  font-size:23px;
  padding: 5px;
}


.links{
  padding: 10px;
  font-size: 16px;
}

.footerClass{
  color: white;
  background-color: #303030;
  padding: 8px 16px;
  align-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

