<app-menu></app-menu>

<!--Something nice-->
<!--fa fa-medkit-->
<div class="headerClass" id="headerID">
  <h1 id="titleID"> Give blood. Give life. </h1>
  <h6> Someone needs blood every <b style="color:#fc321a">2 seconds</b> .<br>
    Donate blood takes only <b style="color:#fc321a">10 minutes</b> !
  </h6>
  <div class="dropOfBloodContainer">
    <p class="dropOfBloodTheme">
      <a href="#" id="principal">
        <span class="glyphicon glyphicon-tint"></span>
      </a>
    </p>
  </div>
</div>
<!--ContentPage-->

