.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

img{
  height: 30%;
  width:30%;
}
.numberCircle {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  padding: 8px;
  background: #fff;
  border: 2px solid black;
  color: black;
  text-align: center;
  font: 32px Arial, sans-serif;
}
