<app-menu></app-menu>
<div>
  <table mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{requests.indexOf(element)+1}}</td>
    </ng-container>
    <ng-container matColumnDef="forPerson">
      <th mat-header-cell *matHeaderCellDef> For</th>
      <td mat-cell *matCellDef="let element"> {{element.forPerson}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element"> {{dateAsString(element.requestDate)}}</td>
    </ng-container>
    <ng-container matColumnDef="bloodType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Blood type</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodType}}</td>
    </ng-container>
    <ng-container matColumnDef="bloodCategory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Blood category</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodCategory}}</td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="bloodRh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Blood RH</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodRH}}</td>
    </ng-container>
    <ng-container matColumnDef="bloodQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodQuantity}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="accept(element)">
          Accept
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    ></tr>


  </table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
<app-blood-request-status *ngIf="visible" (closeModal)="closeModal(event)"
                          [donors]="eligibleDonors"></app-blood-request-status>
