<app-menu></app-menu>
<h1>Cereri de sange</h1>
<div>
  <table mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{requests.indexOf(element)+1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.date}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupa de sange</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodType}}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stare</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodCategory}}</td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="rh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RH</th>
      <td mat-cell *matCellDef="let element"> {{element.bloodRH}}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantitate</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="showDetails(row)"
    ></tr>


  </table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
  <!--<app-edit-donation *ngIf="details.visible" [donation]="details.donation"></app-edit-donation>-->
</div>

