<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nume de utilizator"
           [(ngModel)]="user.username"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Parola"
           type="password"
           [(ngModel)]="user.password"
           required
    ></mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Rol in societate" [(value)]="user.userType">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-user-data [type]="user.userType" [person]="person"></app-user-data>


</div>
